---
import Layout from "../layouts/Layout.astro";
import InputCard from "../components/InputCard.astro";
import PricesCard from "../components/PricesCard.astro";
import ConversionCard from "../components/ConversionCard.astro";
---

<Layout title="Lechuga - Precio del dolar en timepo real">
	<span class="grid grid-cols-2 gird-rows-2 gap-5 p-8">
		<InputCard />
		<PricesCard />
		<ConversionCard />
	</span>
</Layout>
