<footer class="mx-auto p-4 flex justify-center bg-gray-700 text-white">
    <p>
        <a class="hover:text-teal-600" href="https://github.com/joac001">
            Github</a
        > · Built with Astro
    </p>
</footer>
